body{
    width: 100%;
}
.bg-custom {
    background-color: #34495e;

}
.logo-text{
    font-size: 2rem;
}
html, body {
    font-family: 'Comic Sans MS', cursive;
  }
ul{
   list-style: none ;
}
.custom-text-color{
    color: white;
}
.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.btn-custom {
    background-color: #34495e;
    color: white;
}
.text-red{
    color: red;
}
.form-color{
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-par{
    background-color: aliceblue;
}
.row{
    margin: 0 0;
}
.col-12 {
    display: block;
}
@media screen and (max-width:768px){
    .img--d{
        order: 2;
    }
}
