body{
    width: 100%;
    margin-right: 0px;
}
.bg-custom {
    background-color: #34495e;

}
.logo-text{
    font-size: 2rem;
}
html, body {
    font-family: 'Comic Sans MS', cursive;
  }
ul{
   list-style: none ;
}
.custom-text-color{
    color: white;
}
.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.btn-custom {
    background-color: #34495e;
    color: white;
    margin-top: 10px;
}
.text-red{
    color: red;
}
.form-color{
    background-color: #F2EDEB;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bg-par{
    background-color: #F2EDEB;
};

.row{
    margin: 0 0;
}
.col-12 {
    display: block;
}
@media screen and (max-width:768px){
    .img--d{
        order: 2;
    }
}
@media screen and(max-width:500px){
    #btn{
        font-size: smaller;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
       }
}
.row-dest{
    background-color: #F2EDEB;
    margin-top: 20px;
}
.grid-dest{
    background-color: aliceblue;
}


