body {
  margin-right: 0;
}
video {
  width: 100%;
}

#main-destination {
  background-color: aliceblue;
}
.header {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: white;
  text-align: center;
  margin: 20px 20px;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  color: red;
}

/* grid--col-2 */
.containr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 10px;
  column-gap: 50px;
  background-color: #f2edeb;
}

.grid__item {
  width: 100%;
}
img {
  width: 100%;
  border-radius: 5px;
}
.main {
  width: 100%;
  margin-right: 0;
}
@media only screen and (max-width: 720px) {
  .containr {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }
  .header {
    text-transform: uppercase;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: white;
    text-align: center;
    margin: 20px 20px;
    font-size: 20px;
  }
  .grid__item {
    font-size: 16px;
    order: 1;
    margin-bottom: 0;
  }
  .imggrid__item {
    order: 2;
    margin-top: 5px;
  }
}
