.signup-cont{
    position: relative;
  }
  #signup{
    width: 100%;
  }
  #signup h2{
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
  }
  #signup a{
    text-decoration: none;
   }
   #signup{
    display: grid;
    background-color: #F2EDEB;
   }
   form{
    place-self:center;
   }
   #error{
    place-self: center;
   }
   
   @media screen and (max-width:800px){
    input[type=text], input[type=password]{
        padding: 12px;
        width: 300px
    }
    button{
        padding: 10px ;
    }
   }